<html>
  <head>
    <title>TODO aplication by D17123420</title>
  </head>
  <body bgcolor=white>

    <table border="0" cellpadding="10">
      <tr>
        <td>
         </td>
        <td>
          <h1>TODO aplicacion by D17123420</h1>

        </td>
      </tr>
    </table>

    <p>This is the home page for the Todo Web application. </p>
    <p>To prove that they work, you can execute either of the following links:
    <ul>
      <p> To view main index page vist the route http://146.148.15.139 </p>
      <p>To list all tasks http://146.148.15.139/list </p>
       <p> To add a new task  http://146.148.15.139/add/(name of the task)/(description of the task)</p>
       <p>To delete a task http://146.148.15.139/delete/(id of the task)</p>
       <p>To update a task http://146.148.15.139/update/(id of the task)/(new name of the task)/(new description of the task)</p>

      </ul>
      <ul>
        <p> The data should apeare below</p>
        {{name}}
      </ul>

  </body>
</html>
